/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  font-size: 2em;
  text-align: justify;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.card {
  background-color: white;
  color: black;
  margin: 5px;
  padding: 5px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 0.8em
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

section {
  margin-top: 20px;
  margin-bottom: 25px;
}

.section-title-text {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.section-text {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 5% 15px 5%;
}
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .tvc-masthead-nav {

  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.tvc-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 5% 0 5%;
}

/*
    top-bar
 */
.tvc-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tvc-logo {
  max-width: 70px;
  max-height: 70px;
}

.tvc-brand-title {
  font-size: 45px;
  margin-left: 20px;
}

/*
    intro
 */
.tvc-intro-text {
  padding: 30px 0 30px 0;
  margin: 0 20% 10px 10%;
}

/*
    tvc-team
 */
.tvc-team {
  display: flex;
  flex-direction: column;
}

.tvc-team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*
.tvc-member {
  max-width: 145px;
  max-height: 145px;
  min-width: 80px;
  min-height: 80px;
}
*/

.tvc-member-img {
  max-width: 150px;
  margin: auto;
}

/*
    tvc-technologies
 */
.tvc-technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tvc-technology-logo {
  width: 80px;
}

/*
    tvc-projects
 */

.tvc-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.tvc-project {
  max-width: 225px;
  max-height: 85px;
  min-width: 225px;
  min-height: 85px;
}

/*
  NAV
 */
 nav {
   /* align-self: flex-end;*/
 }

.tvc-masthead-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tvc-masthead-nav > li {
  display: inline-block;
}
.tvc-masthead-nav > li + li {
  margin-left: 20px;
}
.tvc-masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.tvc-masthead-nav > li > a:hover,
.tvc-masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.tvc-masthead-nav > .active > a,
.tvc-masthead-nav > .active > a:hover,
.tvc-masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.tvc-about {

}
